.u-section-1 .u-sheet-1 {
  min-height: 202px;
}

.u-section-1 .u-image-1 {
  width: 154px;
  height: 155px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-image-2 {
  width: 155px;
  height: 155px;
  margin: -155px auto 0 985px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: -136px 316px 0;
}

.u-section-1 .u-line-1 {
  width: 994px;
  height: 6px;
  transform-origin: left center 0px;
  margin: 30px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-2 {
    margin-left: 785px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 216px;
    margin-left: 216px;
  }

  .u-section-1 .u-line-1 {
    width: 817px;
    transform-origin: right center 0px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 203px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 565px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 1.5rem;
    margin-top: -117px;
    margin-left: auto;
    margin-right: 106px;
  }

  .u-section-1 .u-line-1 {
    width: 582px;
    margin-top: 48px;
    margin-bottom: 33px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 226px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.125rem;
    margin-top: -86px;
    margin-right: 16px;
    margin-left: 139px;
  }

  .u-section-1 .u-line-1 {
    width: 408px;
    transform-origin: left center 0px;
    margin-top: 38px;
    margin-bottom: 56px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 97px;
  }

  .u-section-1 .u-image-1 {
    width: 69px;
    height: 80px;
    margin-top: 1px;
    margin-left: 9px;
  }

  .u-section-1 .u-image-2 {
    width: 82px;
    height: 80px;
    object-position: 50% 100%;
    margin-top: -80px;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.875rem;
    margin-top: -49px;
    margin-left: auto;
    margin-right: 0;
  }

  .u-section-1 .u-line-1 {
    width: 300px;
    margin-top: 13px;
    margin-bottom: 1px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 785px;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  width: 473px;
  margin: 10px auto 0;
}

.u-section-2 .u-group-1 {
  width: 245px;
  background-image: none;
  min-height: 279px;
  height: auto;
  margin: 38px auto 0 86px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 0 3px;
}

.u-section-2 .u-shape-1 {
  width: 47px;
  height: 47px;
  margin: -4px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  margin: -44px 165px 0 7px;
}

.u-section-2 .u-image-1 {
  height: 199px;
  object-position: 67.9% 50%;
  width: 193px;
  margin: 10px auto 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -5px 7px 0 12px;
}

.u-section-2 .u-group-2 {
  width: 245px;
  background-image: none;
  min-height: 279px;
  height: auto;
  margin: -279px 86px 60px auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-shape-2 {
  width: 46px;
  height: 46px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.875rem;
  margin: -44px 137px 0 6px;
}

.u-section-2 .u-image-2 {
  width: 193px;
  height: 199px;
  margin: 8px auto 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -5px 27px 0 43px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 234px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 42px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -2px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -41px;
    margin-right: 136px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 12px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -7px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-2 .u-group-2 {
    margin-right: 87px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 124px;
  }

  .u-section-2 .u-group-1 {
    margin-left: 56px;
  }

  .u-section-2 .u-group-2 {
    margin-right: 86px;
    margin-left: 419px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-2 .u-group-1 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -5px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 0;
    margin-left: -29px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: -5px;
  }

  .u-section-2 .u-group-2 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: -28px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 8px;
  }

  .u-section-2 .u-group-1 {
    width: 125px;
    min-height: 173px;
    margin-top: 18px;
    margin-left: 21px;
  }

  .u-section-2 .u-shape-1 {
    width: 25px;
    height: 25px;
    margin-top: -1px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
    margin-top: -23px;
    margin-right: 41px;
    margin-left: 3px;
  }

  .u-section-2 .u-image-1 {
    height: 124px;
    width: 103px;
    margin-top: 4px;
  }

  .u-section-2 .u-text-3 {
    font-size: 0.75rem;
    margin-top: -2px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-2 {
    width: 124px;
    min-height: 185px;
    margin-top: -185px;
    margin-right: 21px;
    margin-left: auto;
  }

  .u-section-2 .u-shape-2 {
    width: 25px;
    height: 25px;
    margin-top: -1px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
    width: auto;
    margin-top: -23px;
    margin-right: 42px;
    margin-left: 2px;
  }

  .u-section-2 .u-image-2 {
    width: 103px;
    height: 124px;
    margin-top: 4px;
    margin-right: -79px;
    margin-left: 2px;
  }

  .u-section-2 .u-text-5 {
    font-size: 0.75rem;
    width: 65px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }
}